{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": ""
  },
  "Ethereum": {
    "milliEtherToTransfer": 35000,
    "gasLimit": "42000",
    "prod": {
      "chainId": "",
      "rpc": "http://rpc.l14.lukso.network:8545",
      "account": "",
      "privateKey": ""
    }
  }
}
