.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-color: $lukso-navy-blue;
  color: #fff;

  @media screen and (max-width: $tablet-width) {
    height: $footer-height + 20px;
  }

  .container {
    position: relative;
  }

  .logo,
  .socials {
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    top: 50%;

    @media screen and (max-width: $tablet-width) {
      transform: translate(0);
      top: 20px;
    }
  }

  .logo {
    @include image-2x('../images/logos/lukso.png');
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/logos/lukso.png);
    background-size: 65%;
    background-repeat: no-repeat;
    width: 191px;
    height: 35px;
  }

  .rights {
    color: #fff;
    line-height: $footer-height;
    text-align: center;
    font-size: 12px;

    @media screen and (max-width: $tablet-width) {
      padding-top: $footer-height;
      line-height: 20px;
    }

    a {
      color: $lukso-pink;
      text-decoration: none;
    }
  }

  .socials {
    right: 0;
  }
}

